import React from 'react'
import { inject, observer } from 'mobx-react'

import './index.scss'

@inject('user')
@observer
class {{ COMPONENT_NAME_HOLDER }} extends React.Component {

  render () {
    return (
      <div className="{{ NAME_HOLDER }}">This is layout {{ NAME_HOLDER }}</div>
    )
  }
}

export default {{ COMPONENT_NAME_HOLDER }}